@tailwind base;
@tailwind components;
@tailwind utilities;

.home1 {
    position: relative;
    width: 100%;
    background-image: linear-gradient(to right, #00000030, #00000030), url("/home1.jpg");
    background-position: center;
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
}

.home2 {
    position: relative;
    width: 100%;
    background-image: linear-gradient(to right, #00000030, #00000030), url("/home2.jpg");
    background-position: center;
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
}

.home3 {
    position: relative;
    width: 100%;
    background-image: linear-gradient(to right, #00000030, #00000030), url("/home3.jpg");
    background-position: center;
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
}

.center-div {
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
}